<!DOCTYPE html>
<% meta = meta.inject() %>
<html lang="zh-CN" data-vue-meta-server-rendered {{{ meta.htmlAttrs.text() }}}>
    <head>
        <meta charset="utf-8">
        {{{ meta.title.text() }}}
        {{{ meta.meta.text() }}}
        {{{ meta.link.text() }}}
        {{{ meta.style.text() }}}
        {{{ meta.script.text() }}}
        {{{ meta.noscript.text() }}}
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="/static/manifest.json">
        <meta name="theme-color" content="${ manifest.theme_color }">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="*__ name __*">
        <link rel="apple-touch-icon" href="${ manifest.icons[0].src }">
        <meta name="msapplication-TileImage" content="${ manifest.icons[0].src }">
        <meta name="msapplication-TileColor" content="${ manifest.theme_color }">
    </head>
    <body {{{ meta.bodyAttrs.text() }}}>
        <!--vue-ssr-outlet-->
        <% if (isProd) { %>
        <script>
            // window.onload = function () {
            //     var script = document.createElement('script');
            //     var firstScript = document.getElementsByTagName('script')[0];
            //     script.type = 'text/javascript';
            //     script.async = true;
            //     script.src = '/dist/sw-register.js?v=' + Date.now();
            //     firstScript.parentNode.insertBefore(script, firstScript);
            // };
        </script>
        <% } %>
    </body>
</html>
